<div class="announcement-feed mb-3">
    <h2>{% if site.announcements %}{{site.announcements}}{% else %}Announcements{% endif %}</h2>
    {% for post in paginator.posts %}
    <div class="mb-4">
        <h3>{{ post.title }}<small class="float-right">{{ post.date | date: "%Y-%m-%d" }}</small></h3>
        <q>{{ post.excerpt | strip_html | truncatewords:30 }}</q>
        <a href="{{ post.url }}" class="learn-more">{% if site.read_full %}{{ site.read_full }}{% else %}Read full announcement{% endif %}</a>
    </div>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div class="pagination justify-content-center mt-3">
            {% if paginator.previous_page %}
                <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {% if site.prev %}{{site.prev}}{% else %}Prev{% endif %}</a>
            {% else %}
            <span>&laquo; {% if site.prev %}{{site.prev}}{% else %}Prev{% endif %}</span>
            {% endif %}

            {% if paginator.total_pages > 20 %}
                {% for page in (1..paginator.total_pages) %}
                    {% assign relative_to_current = paginator.page | minus: page | replace: '-', '' | divided_by: 1 %}
                    {% if page == paginator.page %}
                        <span class="ml-1 mr-1">{{ page }}</span>
                    {% elsif relative_to_current < 5 and page == 1 %}
                        <a class="ml-1 mr-1" href="{{ '/' | relative_url }}">{{ page }}</a>
                    {% elsif relative_to_current < 5 %}
                        <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <span class="ml-1 mr-1">{{ page }}</span>
                    {% elsif page == 1 %}
                        <a class="ml-1 mr-1" href="{{ '/' | relative_url }}">{{ page }}</a>
                    {% else %}
                        <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if paginator.next_page %}
                <a class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{% if site.next %}{{site.next}}{% else %}Next{% endif %} &raquo;</a>
            {% else %}
            <span>{% if site.next %}{{site.next}}{% else %}Next{% endif %} &raquo;</span>
            {% endif %}
        </div>
        {% endif %}
</div>
