<header id="KGlobalHeader" class="header clearfix">
    <nav class="navbar navbar-expand-lg {% unless site.not_made_by_kde %} with-made-by-kde {% endunless %}">
        {% if site.use-kde-logo %}
            <a class="kde-logo navbar-brand active" href="/"></a>
        {% else %}
            <a class="app-logo navbar-brand active" href="/">
                <img src="{% if site.app_icon %}{{ site.app_icon | relative_url }}{% else %}{{ '/assets/img/app_icon.png' | relative_url }}{% endif %}" alt="Logo" />
            </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-kde" aria-controls="navbar-kde" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-kde">
            <ul class="navbar-nav mr-auto">
                {% unless site.hide-title-nav %}
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}"
                       href="{{ '/' | relative_url }}" aria-haspopup="true" aria-expanded="false">{{ site.title }}</a>
                </li>
                {% endunless %}
                {% assign links = site.navigation.top %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.subnav %}
                <li class="nav-item dropdown">
                    <a href="{{ link.url }}" class="nav-link dropdown-toggle {{class}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sublink in link.subnav %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li>
                                    <a href="{{ sublink.url }}" class = "dropdown-item">{{ sublink.title }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class = "nav-link {{class}}" href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %}

            </ul>
        </div>
        {% unless site.not_made_by_kde %}
        <a class="made-by-kde" href="https://kde.org">
            Made by KDE
        </a>
        {% endunless %}
    </nav>
</header>

